<footer class="footer-10">
  <div class="container">
    <div class="row mb-5 pb-3 no-gutters">
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-1 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa-brands fa-whatsapp"></i>
            </div>
            <div class="text">
              <span>+593 998223124</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-2 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="text">
              <span>fundacion@unionestudiantil.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-3 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="text">
              <span>@unionestudiantilui</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
        <p class="copyright mb-0">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved Unión Estudianti. <br />
          Designed by <i class="ion-ios-heart" aria-hidden="true"></i>
          <a href="https://instagram.com/emiliojose_210" target="_blank"
            >Emilio Anaci</a
          >-<a href="" target="_blank">Jack Narváez</a>-<a
            href="https://colorlib.com"
            target="_blank"
            >Fernando Almeida</a
          >-<a href="https://colorlib.com" target="_blank">Adrian Balseca</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
