

<section class="intro">
	<div class="wrapintro">
		<h1>BIENVENIDO</h1>
		<h2 class="lead">COLEGIO {{colegio.NOMBRE_COLEGIO}}</h2>
	
	</div>
	</section>
	<!-- Container
    ================================================== -->
	<div class="container">
		<div class="main-content">
			<!-- Featured
            ================================================== -->
			<section class="featured-posts">
			<div class="section-title">
				<h2><span>Selecciona :D</span></h2>
			</div>
			<div class="row listfeaturedtag">
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div class="row">
							<div class="col-md-5 wrapthumbnail">
								<a>
								<div class="thumbnail" style="background-image:url(https://i.ibb.co/HzfQQ5w/R.jpg);">
								</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									<h2 class="card-title"><a >Total a Pagar</a></h2>
									<h4 class="card-text">Visualizaras el Total a pagar </h4>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
				<!-- begin post -->
				<div class="col-sm-6">
					<div class="card">
						<div (click)="goToPedidos()" class="row">
							<div class="col-md-5 wrapthumbnail">
								<a>
								<div class="thumbnail" style="background-image:url(https://png.pngtree.com/element_our/20190524/ourlarge/pngtree-hand-drawn-learning-student-png-material-image_1094150.jpg);">
								</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									<h2 class="card-title"><a>Administración  de Pedidos</a></h2>
									<h4 class="card-text">Aquí podras visualizar a todos los esstudiantes de tu colegio sus pedidos realizados </h4>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->
			</div>
			</section>


