<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">INFORMACIÓN<span> COMPRA</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <ng-template #myModalInfo let-modal>

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">TRANSACCIÓN REALIZADA</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('cerrar')"> 
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            REVISA EL COMPROBANTE DE COMPRA EN TU CORREO ELECTRÓNICO
          </div>
        </div>
      
    </ng-template>

    <ng-template #myModalConf let-modal>

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Éxito</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')"> 
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            ¿Quieres confirmar la transacción? 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
          </div>
        </div>
      
      </ng-template>


    <div class="page-content">
        <div class="checkout">
            <div class="container">
                
                <form action="#">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">DATOS DEL RECEPTOR</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Nombre *</label>
                                        <input type="text" class="form-control" required [(ngModel)]="receptor.nombre" name="nombre">
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Apellido *</label>
                                        <input type="text" class="form-control" required [(ngModel)]="receptor.apellido" name="apellido">
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->


                                <label>Colegio</label>
                                <select [(ngModel)]="receptor.colegio" (change)="selectColegio($event)" class="form-control" name="colegios">
                                    <option selected>Seleccionar Colegio</option>
                                    <option *ngFor = "let colegio of colegios; let i=index;" [value]="colegio.CODIGO_COLEGIO">{{colegio.NOMBRE_COLEGIO}}</option>
                                </select>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Curso *</label>
                                        <select [(ngModel)]="curso" (change)="selectCurso($event)" class="form-control" name="cursos">
                                            <option selected>Seleccionar Curso</option>
                                            <option *ngFor = "let curso of cursos; let i=index;" [value]="curso.CODIGO_CURSO">{{curso.NOMBRE_CURSO}}</option>
                                        </select>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Paralelo *</label>
                                        <select [(ngModel)]="paralelo" (change)="selectParalelo($event)" class="form-control" name="paralelo">
                                            <option selected>Seleccionar Paralelo</option>
                                            <option *ngFor = "let paralelo of paralelos; let i=index;" [value]="paralelo.CODIGO_PARALELO">{{paralelo.NOMBRE_PARALELO}}</option>
                                        </select>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td><a href="#">Beige knitted elastic runner shoes</a></td>
                                            <td>$84.00</td>
                                        </tr>

                                        <tr>
                                            <td><a href="#">Blue utility pinafore denimdress</a></td>
                                            <td>$76,00</td>
                                        </tr>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>$160.00</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>$160.00</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a (click)="saveReceptor()" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1">
                                                    PAGAR :D
                                                </a>
                                               
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                               No olvides de llenar correctamente los datos 
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                 

                               


                                  
                                </div><!-- End .accordion -->

                            
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

