<div class="main">
  <div class="container mt-3">
    <div class="card animate__animated animate__fadeIn">
      <div class="card-header">
        <p><strong>FECHA:</strong> 01/01/2018</p>

        <div style="padding-right: 70%">
          <span class="float-right"
            ><strong>Estado:</strong> Pendiente por pagar a tu Consejo
            Estudiantil</span
          >
        </div>
        <div style="padding-right: 70%">
          <span class="float-right"
            ><strong>NÚMERO DE ORDEN: </strong> 255</span
          >
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-6 col-md-6">
            <h6 class="mb-2">DE</h6>
            <div>
              <strong>EMILIO ANACI</strong>
            </div>
            <div>COLEGIO: SAN GABRIEL</div>
            <div>CURSO: OCTAVO</div>
            <div>PARALELO: A</div>
            <div>Email: CORREO</div>
            <div>Phone: 0995687659</div>
          </div>

          <div class="col-6 col-md-6">
            <h6 class="mb-2">PARA:</h6>
            <div>
              <strong>JACK NARVÁEZ</strong>
            </div>
            <div>COLEGIO: SPELLMAN</div>
            <div>CURSO: TERCERO</div>
            <div>PARALELO: A</div>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col" width="2%" class="center">#</th>
                <th scope="col" width="20%">Producto/Servicio</th>
                <th scope="col" class="d-none d-sm-table-cell" width="50%">
                  Descripción
                </th>

                <th scope="col" width="10%" class="text-right">P. Unidad</th>
                <th scope="col" width="8%" class="text-right">Num.</th>
                <th scope="col" width="10%" class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left">1</td>
                <td class="item_name">GOMITA DE CARAMELO</td>
                <td class="item_desc d-none d-sm-table-cell">
                  INTERCOLEGIAL DE DULCES
                </td>

                <td class="text-right">1,00$</td>
                <td class="text-right">1</td>
                <td class="text-right">1,00$</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-5"></div>

          <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-sm table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="text-right bg-light">1,00$</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total</strong>
                  </td>
                  <td class="text-right bg-light">
                    <strong>1,00$</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
