<div class="main">
  <div class="container mt-3">
    <div class="card animate__animated animate__fadeIn">
      <div class="card-header">
        <p><strong>FECHA:</strong> {{fecha}}</p>

        <div style="padding-right: 70%">
          <span class="float-right"
            ><strong>Estado:</strong> Pendiente por pagar a tu Consejo
            Estudiantil</span
          >
        </div>
        <div style="padding-right: 70%">
          <span class="float-right"
            ><strong>NÚMERO DE ORDEN: </strong> {{orden}}</span
          >
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-6 col-md-6">
            <h6 class="mb-2">DE</h6>
            <div>
              <strong>{{emisor.nombre}} {{emisor.apellido}}</strong>
            </div>
            <div>COLEGIO: {{colegio_emisor}}</div>
            <div>CURSO: {{curso_emisor}}</div>
            <div>PARALELO: {{paralelo_emisor}}</div>
            <div>Email: {{emisor.correo}}</div>
            <div>Phone: {{emisor.telefono}}</div>
          </div>

          <div class="col-6 col-md-6">
            <h6 class="mb-2">PARA:</h6>
            <div>
              <strong>{{receptor.nombre}} {{receptor.apellido}}</strong>
            </div>
            <div>COLEGIO: {{colegio_receptor}}</div>
            <div>CURSO: {{curso_receptor}}</div>
            <div>PARALELO: {{paralelo_receptor}}</div>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col" width="2%" class="center">#</th>
                <th scope="col" width="20%">Producto/Servicio</th>
                <th scope="col" class="d-none d-sm-table-cell" width="50%">
                  Descripción
                </th>

                <th scope="col" width="10%" class="text-right">P. Unidad</th>
                <th scope="col" width="8%" class="text-right">Num.</th>
                <th scope="col" width="10%" class="text-right">Total</th>
              </tr>
            </thead>
            <tbody *ngFor = "let producto of productos; let i=index">
              <tr>
                <td class="text-left">{{i+1}}</td>
                <td class="item_name">{{producto.NOMBRE_PRODUCTO}}</td>
                <td class="item_desc d-none d-sm-table-cell">
                  {{producto.DESCRIPCION_PRODUCTO}}
                </td>

                <td class="text-right">{{producto.PRECIO_PRODUCTO}}$</td>
                <td class="text-right">{{cantidades[i]}}</td>
                <td class="text-right">{{producto.PRECIO_PRODUCTO * cantidades[i]}}$</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-5"></div>

          <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-sm table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="text-right bg-light">{{total}}$</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total</strong>
                  </td>
                  <td class="text-right bg-light">
                    <strong>{{total}}$</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="btn-group-toggle"
              data-toggle="buttons"
              style="text-align: center"
            >
              <label (click)="onClickAceptar()" class="btn btn-secondary active">
                ACEPTAR
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
